asgiref==3.4.0
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
fastapi==0.65.2
h11==0.12.0
idna==2.10
iniconfig==1.1.1
numpy==1.21.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
requests==2.25.1
# sqlite-spellfix==1.0
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
